DJANGO_SETTINGS_MODULE=DjangoGamers.config.settings.local
DJANGO_READ_DOT_ENV_FILE=True
DJANGO_DEBUG=False
SECRET_KEY='secret'
DB_NAME='postgres'
DB_USER='postgres'
DB_PASSWORD='postgres
DB_PORT='5432'
DATABASE_URL="postgresql://localhost:5432/postgres?user=postgres&password=postgres"
ALLOWED_HOSTS=*
