[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
drf-yasg = "*"
pytest = "*"
pytest-cov = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
django-extensions = "*"
environ = "*"

[dev-packages]

[requires]
python_version = "3.9"
